@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* common style */

p{
    font-weight: 400;
    margin-bottom: 15px;
}
body{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
a{
    transition: 0.3s;
}
input:hover[type="submit"]{
    cursor: pointer;
    transition: 0.3s;
}
a.readmore{
    background-color: #3bafbe;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}
a.readmore:hover{
    background-color: #262626 none repeat scroll 0 0; 
}
input{
    background-color: #333333;
    color: #fff;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;
}
input[type="submit"]{
    background-color: #3bafbe;
    cursor: pointer;
}
input:hover[type="submit"]{
    background-color: #ee802f;
}
.slicknav_menu{
    display: none;
}

/* head area */
#head_area{
    border-top: 5px solid #3bafbe;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
}
.social_area{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.social_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.social_area ul li{
    display: inline-block;
    margin-right: 5px;
}
.social_area ul li a{
    background: #1f1f1f;
    width: 35px;
    height: 35px;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
}
.social_area ul li a:hover{
    background: #ee802f;
}

/* Search Area */
.search_area{
    text-align: right;
    width: 100%;
    /* ko maina šis? */
    clear: both;
    margin-bottom: 25px;
}
.search_area input{
    background-color: #333333;
    color: #fff;
    border: 0px solid;
    border-radius: 8px;
    padding: 10px;
}
.search_area input[type="submit"]{
    background-color: #3bafbe;
    cursor: pointer;
}
.search_area input:hover[type="submit"]{
    background-color: #ee802f;
}
#main_menu{
    text-align: right;
}
#main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#main_menu ul li{
    display: inline-block
}
#main_menu ul li a{
    display: block;
    font-size: 14px;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 15px;
}
#main_menu ul li a:hover{
    color: #3bafbe;
}

/* Banner Area */
#banner_area{
    width: 100%;
    overflow: hidden;
}
#banner_area .item{
    width: 100%;
    overflow: hidden;
} 
#banner_area .item img{
    width: 100%;
    height: auto;
} 
.banner_text{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner_table{
    display: table;
    height: 100%;
    width: 100%;
}
.banner_align{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.banner_textarea{
    width: 1170px;
    margin: 0 auto;
}
.main_banner{
    width: 50%;
    float: right;
}
.main_banner a{
    background-color: #3bafbe;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}
.main_banner a:hover{
    background-color: #262626 none repeat scroll 0 0; 
}

.bx-wrapper .bx-controls-direction a {
    display: none;
}
.bx-wrapper .bx-pager {
    text-align: right;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3bafbe;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0, 0) none repeat scroll 0 0;
    border: 4px solid #3bafbe; 
    background: none;
}

/* Intro*/
#intro{
    padding: 40px 0
}
#intro img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#service_area{
    border-top: 1px solid #ddd; 
    padding: 50px 0;
}
#service_area .col-md-10 h4{
    text-align: center;
    color: #666666;
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
}
#service_area .col-md-4{
    margin-bottom: 15px;
}
#service_area .col-md-4 img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#service_area .col-md-4 h4{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
#service_area .col-md-4 h4 a{
    color: #3bafbe;
}
#service_area .col-md-4 h4 p{
    font-size: 12px; 
    margin-bottom: 0;
    line-height: 1.4em;
}

/* Footing area */
#footer_area{
    background: #252525;
    padding: 40px 0;
    color: #fff;
}
#footer_area h3{
    font-size: 20px;
}
#footer_area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer_footer_area ul li{
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(168, 168, 168);
}
#footer_area ul li a{
    color: #3bafbe;
    padding: 5px;
    display: block;
}
#footer_area input{
    margin-bottom: 10px;
}
#copyright{
    background: #1a1a1a;
    padding: 20px 0;
    color: #fff;
}
#copyright p{
    margin: 0;
}
#copyright .col-md-6:last-child{
    text-align: right;
}

/* MEDIA */
@media only screen and (min-width: 200px) and (max-width: 768px) {
    .social_area ul {
        text-align: center;
    }
    .logo{
        float: none;
        margin: 0 auto 20px;
        text-align: center;
        width: 200px; 
    }
    #head_area .col-md-9{
        display: none;
    }
    .slicknav_menu{
        display: block;
    }
    .banner_textarea{
        width: 100%;
    }
    .main_banner{
        width: 50%;
    }
    #intro .col-md-4{
        margin-bottom: 20px;
    }
    #intro .col-md-4{
        margin-bottom: 20px;
    }
    #footer_area .col-md-3{
        margin-bottom: 20px;
    }
    #copyright .col-md-6:last-child{
        text-align: left;
        margin-top: 10px;
    }
    #footer_area input{
        margin-bottom: 10px;
        width: 100%;
    }
    #footer_area input[type="submit"]{
        width: 150px;
    }
}



